* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(193, 15, 154);
    text-align: center;
}

.container {
    height: 70vh;
    place-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    justify-content: end;
    align-content: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(57, 25, 156, 0.5);
    font-size: 8vmin;
    background-color: black;
    color: rgb(255, 255, 255);
}


#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

.new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    width: 134px;
    align-self: center;
}

#msg {
    color: #fff;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}